{%- if card_product and card_product != empty -%}
  <div class="card-wrapper product-card-wrapper" {{ card_product.id }}>
    <div class="b-card" style="height: 100%; display: flex; flex-direction: column;">
      {%- if card_product.featured_media -%}
        <div class="b-card-image">
          <a href="{{ card_product.url }}" class="full-unstyled-link" tabindex="-1">
            <figure class="b-image">
              <img
                srcset="
                  {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
                "
                src="{{ card_product.featured_media | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}) {{- image_size_desktop -}}, (min-width: 990px) {{- image_size_desktop -}}, (min-width: 750px) {{- image_size_mobile -}}, {{- image_size_mobile -}}"
                alt="{{ card_product.featured_media.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ card_product.featured_media.width }}"
                height="{{ card_product.featured_media.height }}"
              >

              {%- if card_product.media[1] != null and show_secondary_image -%}
                <img
                  srcset="
                    {%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                    {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                    {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                    {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                    {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w
                  "
                  src="{{ card_product.media[1] | image_url: width: 533 }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                  alt="{{ card_product.media[1].alt | escape }}"
                  class="motion-reduce card__media-secondary"
                  loading="lazy"
                  width="{{ card_product.media[1].width }}"
                  height="{{ card_product.media[1].height }}"
                >
              {%- endif -%}
            </figure>
          </a>
        </div>
      {%- endif -%}
      <div class="b-card-content b-is-flex b-is-flex-direction-column b-is-flex-grow-1">
        <div class="b-content b-is-flex-grow-1">
          <div class="b-is-flex b-is-pulled-right">
            {%- if card_product.available == false -%}
              <span class="b-tag b-is-info b-is-rounded">{{- 'products.product.sold_out' | t -}}</span>
            {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
              <span class="b-tag b-is-link b-is-rounded">{{- 'products.product.on_sale' | t -}}</span>
            {%- endif -%}
          </div>
          <p class="b-title b-is-5 b-mb-2 b-has-text-primary">
            <a href="{{ card_product.url }}" class="full-unstyled-link">
              {{ card_product.title | escape }}
            </a>
          </p>

          {%- if show_vendor -%}
            <p class="b-is-size-6 b-has-text-grey-dark b-mb-2 b-subtitle">{{ card_product.vendor }}</p>
          {%- endif -%}

          {%- if show_rating and card_product.metafields.reviews.rating.value != blank -%}
            {% liquid
              assign rating_decimal = 0
              assign decimal = card_product.metafields.reviews.rating.value.rating | modulo: 1
              if decimal >= 0.3 and decimal <= 0.7
                assign rating_decimal = 0.5
              elsif decimal > 0.7
                assign rating_decimal = 1
              endif
            %}
            <div
              class="rating b-mb-2"
              role="img"
              aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: card_product.metafields.reviews.rating.value, rating_max: card_product.metafields.reviews.rating.value.scale_max }}"
            >
              <span
                aria-hidden="true"
                class="rating-star"
                style="--rating: {{ card_product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ card_product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"
              ></span>
              <span class="rating-text caption">
                <span aria-hidden="true"> ({{ card_product.metafields.reviews.rating_count }}) </span>
                <span class="visually-hidden">
                  {{- card_product.metafields.reviews.rating_count }}
                  {{ 'accessibility.total_reviews' | t -}}
                </span>
              </span>
            </div>
          {%- endif -%}

          {% render 'price', product: card_product, price_class: '', show_compare_at_price: true %}

          {%- if card_product.quantity_price_breaks_configured? -%}
            <div class="b-is-size-6 b-has-text-grey b-mt-2">
              <span>{{ 'products.product.volume_pricing.note' | t }}</span>
            </div>
          {%- endif -%}
        </div>
        <div class="b-mt-auto">
          {% assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id %}
          {% if quick_add == 'standard' %}
            <div class="quick-add no-js-hidden b-mt-4">
              {%- liquid
                assign qty_rules = false
                if card_product.selected_or_first_available_variant.quantity_rule.min > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
                  assign qty_rules = true
                endif
              -%}
              {%- if card_product.variants_count > 1 or qty_rules -%}
                <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
                  <button
                    id="{{ product_form_id }}-submit"
                    type="submit"
                    name="add"
                    class="b-button b-is-fullwidth b-is-primary b-is-light"
                    aria-haspopup="dialog"
                    aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                    data-product-url="{{ card_product.url }}"
                  >
                    {{ 'products.product.choose_options' | t }}
                    {%- render 'loading-spinner' -%}
                  </button>
                </modal-opener>
                <quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal">
                  <div
                    role="dialog"
                    aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}"
                    aria-modal="true"
                    class="quick-add-modal__content global-settings-popup"
                    tabindex="-1"
                  >
                    <button
                      id="ModalClose-{{ card_product.id }}"
                      type="button"
                      class="quick-add-modal__toggle"
                      aria-label="{{ 'accessibility.close' | t }}"
                    >
                      {{- 'icon-close.svg' | inline_asset_content -}}
                    </button>
                    <div id="QuickAddInfo-{{ card_product.id }}" class="quick-add-modal__content-info"></div>
                  </div>
                </quick-add-modal>
              {%- else -%}
                <product-form data-section-id="{{ section.id }}">
                  {%- form 'product',
                    card_product,
                    id: product_form_id,
                    class: 'form',
                    novalidate: 'novalidate',
                    data-type: 'add-to-cart-form'
                  -%}
                    <input
                      type="hidden"
                      name="id"
                      value="{{ card_product.selected_or_first_available_variant.id }}"
                      class="product-variant-id"
                      {% if card_product.selected_or_first_available_variant.available == false %}
                        disabled
                      {% endif %}
                    >
                    <button
                      id="{{ product_form_id }}-submit"
                      type="submit"
                      name="add"
                      class="b-button b-is-fullwidth b-is-primary"
                      aria-haspopup="dialog"
                      aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                      aria-live="polite"
                      data-sold-out-message="true"
                      {% if card_product.selected_or_first_available_variant.available == false %}
                        disabled
                      {% endif %}
                    >
                      <span>
                        {%- if card_product.selected_or_first_available_variant.available -%}
                          {{ 'products.product.add_to_cart' | t }}
                        {%- else -%}
                          {{ 'products.product.sold_out' | t }}
                        {%- endif -%}
                      </span>
                      <span class="sold-out-message hidden">
                        {{ 'products.product.sold_out' | t }}
                      </span>
                      {%- render 'loading-spinner' -%}
                    </button>
                  {%- endform -%}
                </product-form>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- else -%}
  <div class="card-wrapper product-card-wrapper">
    <div class="b-card" style="height: 100%;">
      <div class="b-card-image">
        <figure class="b-image b-is-1by1">
          {%- if placeholder_image -%}
            {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
          {%- else -%}
            {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </figure>
      </div>
      <div class="b-card-content">
        <div class="b-content">
          <p class="b-title b-is-5 b-mb-2">
            <a role="link" aria-disabled="true" class="full-unstyled-link">
              {{ 'onboarding.product_title' | t }}
            </a>
          </p>
          {%- if show_vendor -%}
            <p class="b-is-size-7 b-has-text-grey b-mb-2">{{ 'products.product.vendor' | t }}</p>
          {%- endif -%}
          {% render 'price', placeholder: true, show_compare_at_price: true %}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
