{%- if card_product and card_product != empty -%}
  <div
    class="card-wrapper product-card-wrapper"
    x-data="
      productCard({
        productUrl: '{{ card_product.url }}',
        sectionId: '{{ section.id }}',
        productId: '{{ card_product.id }}'
      })
    "
  >
    <div class="b-card" style="height: 100%; display: flex; flex-direction: column;">
      {%- if card_product.featured_media -%}
        <div class="b-card-image">
          <a href="{{ card_product.url }}" class="full-unstyled-link" tabindex="-1">
            <figure class="b-image b-is-fullwidth b-is-1by1">
              {{
                card_product.featured_media
                | image_url: width: 300, pad_color: '000'
                | image_tag: widths: '300, 350, 400, 450, 500, 550, 600', preload: false, loading: 'lazy'
              }}
            </figure>
          </a>
        </div>
      {%- endif -%}
      <div class="b-card-content b-px-2 b-is-flex b-is-flex-direction-column b-is-flex-grow-1">
        <div class="b-content b-is-flex-grow-1">
          <div class="b-is-flex b-is-pulled-right">
            {%- if card_product.available == false -%}
              <span class="b-tag b-is-info b-is-light">{{- 'products.product.sold_out' | t -}}</span>
            {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
              <span class="b-tag b-is-link">{{- 'products.product.on_sale' | t -}}</span>
            {%- endif -%}
          </div>
          <br>
          <p class="b-title b-is-6 b-mb-2 b-has-text-black b-is-family-secondary">
            <a href="{{ card_product.url }}" class="full-unstyled-link">
              {{ card_product.title | escape }}
            </a>
          </p>

          <p class="b-is-size-6 b-has-text-grey-dark b-mb-2 b-subtitle">{{ card_product.vendor }}</p>

          {%- if show_rating and card_product.metafields.reviews.rating.value != blank -%}
            {% liquid
              assign rating_decimal = 0
              assign decimal = card_product.metafields.reviews.rating.value.rating | modulo: 1
              if decimal >= 0.3 and decimal <= 0.7
                assign rating_decimal = 0.5
              elsif decimal > 0.7
                assign rating_decimal = 1
              endif
            %}
            <div
              class="rating b-mb-2"
              role="img"
              aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: card_product.metafields.reviews.rating.value, rating_max: card_product.metafields.reviews.rating.value.scale_max }}"
            >
              <span
                aria-hidden="true"
                class="rating-star"
                style="--rating: {{ card_product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ card_product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"
              ></span>
              <span class="rating-text caption">
                <span aria-hidden="true"> ({{ card_product.metafields.reviews.rating_count }}) </span>
                <span class="visually-hidden">
                  {{- card_product.metafields.reviews.rating_count }}
                  {{ 'accessibility.total_reviews' | t -}}
                </span>
              </span>
            </div>
          {%- endif -%}

          {% render 'price', product: card_product, price_class: '', show_compare_at_price: true %}

          {%- if card_product.quantity_price_breaks_configured? -%}
            <div class="b-is-size-6 b-has-text-grey-dark b-mt-2">
              <span>{{ 'products.product.volume_pricing.note' | t }}</span>
            </div>
          {%- endif -%}

          <!-- Error Message Display -->
          <div class="product-form__error-message-wrapper" x-show="errorMessage" x-cloak>
            <span class="product-form__error-message" x-text="errorMessage"></span>
          </div>
        </div>
      </div>

      {% assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id %}
      {% if quick_add == 'standard' %}
        {%- liquid
          assign qty_rules = false
          if card_product.selected_or_first_available_variant.quantity_rule.min > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
            assign qty_rules = true
          endif
        -%}
        <footer class="b-card-footer quick-add no-js-hidden b-mt-4">
          {%- if card_product.variants_count > 1 or qty_rules -%}
            <!-- Alpine JS Quick Add Trigger -->
            <button
              type="button"
              class="b-button b-is-primary b-is-light b-card-footer-item b-is-ghost"
              @click.prevent="openQuickAdd()"
              :class="loading? 'b-is-loading' : ''"
              aria-haspopup="dialog"
              aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
            >
              {{ 'products.product.choose_options' | t }}
            </button>

          {%- else -%}
            <!-- Alpine JS Direct Add to Cart -->

            <button
              id="{{ product_form_id }}-button-submit"
              form="{{ product_form_id }}-form-submit"
              type="submit"
              name="add"
              class="b-button b-has-text-primary b-card-footer-item b-is-ghost"
              :class="loading? 'b-is-loading' : ''"
              aria-haspopup="dialog"
              aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
              aria-live="polite"
              data-sold-out-message="true"
              {% if card_product.selected_or_first_available_variant.available == false %}
                disabled
              {% endif %}
            >
              <span>
                {%- if card_product.selected_or_first_available_variant.available -%}
                  {{ 'products.product.add_to_cart' | t }}
                {%- else -%}
                  {{ 'products.product.sold_out' | t }}
                {%- endif -%}
              </span>
            </button>
          {%- endif -%}
        </footer>
      {%- endif -%}
    </div>
  </div>

  <div x-show="modalOpen" x-cloak :open="modalOpen" class="quick-add-modal">
    <div
      role="dialog"
      aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}"
      aria-modal="true"
      class="quick-add-modal__content global-settings-popup"
      tabindex="-1"
    >
      <button
        type="button"
        class="quick-add-modal__toggle"
        @click="closeModal()"
        aria-label="{{ 'accessibility.close' | t }}"
      >
        {{- 'icon-close.svg' | inline_asset_content -}}
      </button>
      <div class="quick-add-modal__content-info" x-html="quickAddInfo"></div>
    </div>
    <!-- Backdrop for closing on click outside if desired, typically handled by CSS or container -->
  </div>

  <form
    x-on:submit.prevent="addToCart($el)"
    method="post"
    action="{{ routes.cart_add_url }}"
    id="{{ product_form_id }}-form-submit"
    accept-charset="UTF-8"
    enctype="multipart/form-data"
    novalidate="novalidate"
    data-type="add-to-cart-form"
    class="b-is-hidden"
  >
    <input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓">
    <input type="hidden" name="id" value="{{ card_product.id }}" class="product-variant-id">
    <input type="hidden" name="product-id" value="{{ card_product.id }}"
    ><input type="hidden" name="section-id" value="template--17406003052619__product-grid">
  </form>

{%- else -%}
  <div class="card-wrapper product-card-wrapper">
    <div class="b-card" style="height: 100%;">
      <div class="b-card-image">
        <figure class="b-image b-is-1by1">
          {%- if placeholder_image -%}
            {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
          {%- else -%}
            {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </figure>
      </div>
      <div class="b-card-content">
        <div class="b-content">
          <p class="b-title b-is-5 b-mb-2">
            <a role="link" aria-disabled="true" class="full-unstyled-link">
              {{ 'onboarding.product_title' | t }}
            </a>
          </p>
          {%- if show_vendor -%}
            <p class="b-is-size-7 b-has-text-grey b-mb-2">{{ 'products.product.vendor' | t }}</p>
          {%- endif -%}
          {% render 'price', placeholder: true, show_compare_at_price: true %}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
