<div class="b-box b-p-4 b-mb-5">
  <!-- CARD HORIZONTAL -->
  <article
    class="b-media"
    x-data="
      {
        error: null,
        id: '{{- item.variant_id -}}',
        quantity: {{ item.quantity }},
        async decrease() {
          const res = await $store.cart.change(this.id, this.quantity - 1);
          if (!res.ok) this.error = res.error;
        },
        async increase() {
          const res = await $store.cart.change(this.id, this.quantity + 1);
          if (!res.ok) this.error = res.error;
        },
        async remove() {
          const res = await $store.cart.change(this.id, 0);
          if (!res.ok) this.error = res.error;
        }
      }
    "
  >
    <!-- IMAGEN + REMOVE (centrado) -->
    <div class="b-media-left b-has-text-centered" style="max-width:100px;">
      <figure class="b-image" style="max-width:100px; margin:0 auto;">
        <img
          src="{{ item.image | image_url: width: 100 }}"
          alt="{{ item.image.alt | escape }}"
          style="width:100%; height:auto; object-fit:contain;"
          width="100"
          height="auto"
          ratio="{{ item.image.ratio }}"
        >
      </figure>

      <!-- Botón delete debajo de la imagen, centrado -->
      <button
        class="b-delete b-is-medium b-mt-5"
        type="button"
        @click.prevent="remove()"
        :disabled="$store.cart.isBusy"
        aria-label="Remove item"
      ></button>
    </div>

    <!-- INFORMACIÓN DEL PRODUCTO -->
    <div class="b-media-content b-pl-4">
      <!-- Título -->
      <a href="{{ item.url }}" class="b-title b-is-6 b-mb-2">
        {{ item.product.title }}
      </a>

      <!-- Vendor -->
      <p class="b-is-size-7 b-has-text-grey-dark b-mb-2">
        {{ item.product.vendor }}
      </p>

      <!-- Variantes -->
      {% unless item.product.has_only_default_variant %}
        {% for opt in item.options_with_values %}
          <p class="b-is-size-7 b-has-text-grey-dark">
            <strong>{{ opt.name }}:</strong> {{ opt.value }}
          </p>
        {% endfor %}
      {% endunless %}

      <!-- OPERACIÓN: costo unitario x qty = subtotal (todo en una línea) -->
      <!-- Unit price + label -->
      <p class="b-is-size-7 b-has-text-grey-dark"><strong> Price: </strong>{{ item.final_price | money }}</p>

      <div class="b-block b-mt-5">
        <!-- Qty label + selector -->
        <p class="b-is-size-7 b-has-text-grey-dark b-mr-1">
          <strong>Qty:</strong>

          <div class="b-field b-has-addons b-is-inline-flex b-mr-3">
            <div class="b-control">
              <button
                class="b-button b-is-primary b-is-light b-is-rounded"
                style="max-width:20px; height:35px;"
                type="button"
                @click.prevent="decrease()"
                :disabled="$store.cart.isBusy"
              >
                −
              </button>
            </div>

            <div class="b-control">
              <input
                class="b-input b-has-text-centered"
                style="max-width:55px; height:35px;"
                type="number"
                name="updates[]"
                x-model="quantity"
                min="0"
                id="updates_{{ item.key }}"
                data-index="{{ forloop.index }}"
              >
            </div>

            <div class="b-control">
              <button
                class="b-button b-is-primary b-is-light b-is-rounded"
                style="max-width:20px; height:35px;"
                type="button"
                @click.prevent="increase()"
                :disabled="$store.cart.isBusy"
              >
                +
              </button>
            </div>
            <!-- Key del item (útil para identificación) -->
          </div>
        </p>
        <input
          type="hidden"
          name="line_item_key[]"
          value="{{ item.key }}"
        >
        <!-- Atributos del carrito (opcional) -->
        <input type="hidden" name="attributes[gift_message]" value="">
      </div>

      <p
        class="b-help b-is-danger"
        x-show="error"
        x-text="error"
        x-cloak
      ></p>

      <!-- Igual -->
      <div class="b-mr-5 b-is-flex b-is-justify-content-flex-end">
        <!-- Subtotal + label -->
        <span class="b-is-size-7 b-has-text-grey-dark">
          Subtotal:
          <strong class="b-is-size-5">
            {{ item.final_line_price | money_with_currency }}
          </strong>
        </span>
      </div>
    </div>
  </article>
</div>
