{% comment %}
  Renders share button.
  Accepts:
  - block: {Object} passes in the block information.
  - section: {Object} passes in the section information.
  - share_link: {String} url to be added to the input the user will get/copy.

  Usage:
  {% render 'share-button',
    block: block,
    section: section,
    share_link: share_url
  %}
{% endcomment %}

{% liquid
  assign share_label = 'Share'
  if block != ''
    assign shopify_attributes = block.shopify_attributes
    if block.settings.share_label != ''
      assign share_label = block.settings.share_label | escape
    endif
  elsif section != ''
    assign shopify_attributes = section.shopify_attributes
    if section.settings.share_label != ''
      assign share_label = section.settings.share_label | escape
    endif
  endif
%}

<script src="{{ 'share.js' | asset_url }}" defer="defer"></script>

<share-button id="Share-{{ section.id }}" class="share-button quick-add-hidden" {{ shopify_attributes }}>
  <button class="share-button__button hidden">
    <span class="svg-wrapper b-mr-3">{{ 'share-hub-icon.svg' | inline_asset_content }}</span>
    {{ share_label }}
  </button>
  <details id="Details-{{ block.id }}-{{ section.id }}">
    <summary class="share-button__button">
      <span class="svg-wrapper b-mr-3">{{ 'share-hub-icon.svg' | inline_asset_content }}</span>
      {{ share_label }}
    </summary>
    <div class="share-button__fallback motion-reduce">
      <div class="field">
        <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status"> </span>
        <input
          type="text"
          class="field__input"
          id="ShareUrl-{{ section.id }}"
          value="{{ share_link }}"
          placeholder="{{ 'general.share.share_url' | t }}"
          onclick="this.select();"
          readonly
        >
        <label class="field__label" for="ShareUrl-{{ section.id }}">{{ 'general.share.share_url' | t }}</label>
      </div>
      <button class="share-button__close hidden">
        <span class="svg-wrapper">
          {{- 'share-hub-icon.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
      </button>
      <button class="share-button__copy">
        <span class="svg-wrapper">
          {{- 'share-hub-icon.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
      </button>
    </div>
  </details>
</share-button>
