{% if block.settings.button_text != blank and block.settings.button_url != blank %}
  {% liquid
    assign button_classes = 'b-button'
    assign alignment_classes = ''

    if block.settings.button_size == 'small'
      assign button_classes = button_classes | append: ' b-is-small'
    elsif block.settings.button_size == 'large'
      assign button_classes = button_classes | append: ' b-is-large'
    endif

    if block.settings.button_width == 'full'
      assign button_classes = button_classes | append: ' b-is-fullwidth'
    endif

    if block.settings.button_style == 'link'
      assign button_classes = button_classes | append: ' b-is-text'
    endif

    if block.settings.button_alignment_mobile != ''
      assign alignment_classes = alignment_classes | append: ' ' | append: block.settings.button_alignment_mobile
    endif

    if block.settings.button_alignment_tablet != ''
      assign alignment_classes = alignment_classes | append: ' ' | append: block.settings.button_alignment_tablet
    endif

    if block.settings.button_alignment_desktop != ''
      assign alignment_classes = alignment_classes | append: ' ' | append: block.settings.button_alignment_desktop
    endif

    if block.settings.button_alignment_widescreen != ''
      assign alignment_classes = alignment_classes | append: ' ' | append: block.settings.button_alignment_widescreen
    endif

    if block.settings.button_alignment_fullhd != ''
      assign alignment_classes = alignment_classes | append: ' ' | append: block.settings.button_alignment_fullhd
    endif
  %}

  <a
    href="{{ block.settings.button_url }}"
    class="aa-styled-button-{{ block.id }} {{ button_classes }}{{ alignment_classes }}"
    {% if block.settings.button_new_tab %}
      target="_blank" rel="noopener"
    {% endif %}
    {{ block.shopify_attributes }}
  >
    {{ block.settings.button_text }}
  </a>
{% endif %}

{% style %}
  {{ block.settings.button_font | font_face }}

  .aa-styled-button-{{ block.id }} {
    --b-button-h: {{ block.settings.button_text_color | color_extract: 'hue' }};
    --b-button-s: {{ block.settings.button_text_color | color_extract: 'saturation' }};
    --b-button-l: {{ block.settings.button_text_color | color_extract: 'lightness' }};
    --b-button-background-l: {{ block.settings.button_bg_color | color_extract: 'lightness' }};
    --b-button-color-l: {{ block.settings.button_text_color | color_extract: 'lightness' }};
    --b-button-border-l: {{ block.settings.button_border_color | color_extract: 'lightness' }};
    font-family: {{ block.settings.button_font.family | default: 'Inter' }}, {{ block.settings.button_font.fallback_families | default: 'sans-serif' }};
    font-weight: {{ block.settings.button_font.weight | default: '400' }};
    font-style: {{ block.settings.button_font.style | default: 'normal' }};
    border-radius: {{ block.settings.button_border_radius | default: '4px' }};
    padding: {{ block.settings.button_padding | default: '12px 24px' }};
    {% if block.settings.button_width != 'auto' %}
      width: {{ block.settings.button_width }};
    {% endif %}
  }

  .aa-styled-button-{{ block.id }}.b-button {
    background-color: {{ block.settings.button_bg_color | default: '#f5f5f5' }};
    border-color: {{ block.settings.button_border_color | default: '#dddddd' }};
    color: {{ block.settings.button_text_color | default: '#111111' }};
  }

  .aa-styled-button-{{ block.id }}.b-button:hover {
    background-color: {{ block.settings.button_hover_bg_color | default: '#eeeeee' }};
    color: {{ block.settings.button_hover_text_color | default: '#000000' }};
  }
{% endstyle %}

{% schema %}
{
  "name": "AA Styled Button",
  "tag": "block",
  "class": "AA Blocks",

  "settings": [
    { "type": "text", "id": "button_text", "label": "Button Text", "default": "Click Here" },
    { "type": "url", "id": "button_url", "label": "Button URL" },

    { "type": "header", "content": "Button Settings" },
    {
      "type": "select",
      "id": "button_type",
      "label": "Button Type",
      "options": [
        { "value": "button", "label": "Button" },
        { "value": "link", "label": "Link" }
      ],
      "default": "button"
    },

    { "type": "font_picker", "id": "button_font", "label": "Button Font", "default": "assistant_n4" },

    {
      "type": "select",
      "id": "button_size",
      "label": "Button Size",
      "options": [
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ],
      "default": "medium"
    },

    {
      "type": "select",
      "id": "button_width",
      "label": "Button Width",
      "options": [
        { "value": "auto", "label": "Auto" },
        { "value": "full", "label": "Full Width" },
        { "value": "25%", "label": "25%" },
        { "value": "50%", "label": "50%" },
        { "value": "75%", "label": "75%" }
      ],
      "default": "auto"
    },

    { "type": "checkbox", "id": "button_new_tab", "label": "Open in new tab", "default": false },

    {
      "type": "header",
      "content": "Responsive Button Alignment"
    },

    {
      "type": "paragraph",
      "content": "Control button alignment for different screen sizes using Bulma's responsive alignment classes."
    },

    {
      "type": "select",
      "id": "button_alignment_mobile",
      "label": "Mobile (up to 768px)",
      "options": [
        { "value": "", "label": "Default" },
        { "value": "b-has-text-centered-mobile", "label": "Centered" },
        { "value": "b-has-text-justified-mobile", "label": "Justified" },
        { "value": "b-has-text-left-mobile", "label": "Left" },
        { "value": "b-has-text-right-mobile", "label": "Right" }
      ],
      "default": ""
    },

    {
      "type": "select",
      "id": "button_alignment_tablet",
      "label": "Tablet (769px+)",
      "options": [
        { "value": "", "label": "Default" },
        { "value": "b-has-text-centered-tablet", "label": "Centered" },
        { "value": "b-has-text-justified-tablet", "label": "Justified" },
        { "value": "b-has-text-left-tablet", "label": "Left" },
        { "value": "b-has-text-right-tablet", "label": "Right" }
      ],
      "default": ""
    },

    {
      "type": "select",
      "id": "button_alignment_desktop",
      "label": "Desktop (1024px+)",
      "options": [
        { "value": "", "label": "Default" },
        { "value": "b-has-text-centered-desktop", "label": "Centered" },
        { "value": "b-has-text-justified-desktop", "label": "Justified" },
        { "value": "b-has-text-left-desktop", "label": "Left" },
        { "value": "b-has-text-right-desktop", "label": "Right" }
      ],
      "default": ""
    },

    {
      "type": "select",
      "id": "button_alignment_widescreen",
      "label": "Widescreen (1216px+)",
      "options": [
        { "value": "", "label": "Default" },
        { "value": "b-has-text-centered-widescreen", "label": "Centered" },
        { "value": "b-has-text-justified-widescreen", "label": "Justified" },
        { "value": "b-has-text-left-widescreen", "label": "Left" },
        { "value": "b-has-text-right-widescreen", "label": "Right" }
      ],
      "default": ""
    },

    {
      "type": "select",
      "id": "button_alignment_fullhd",
      "label": "Full HD (1408px+)",
      "options": [
        { "value": "", "label": "Default" },
        { "value": "b-has-text-centered-fullhd", "label": "Centered" },
        { "value": "b-has-text-justified-fullhd", "label": "Justified" },
        { "value": "b-has-text-left-fullhd", "label": "Left" },
        { "value": "b-has-text-right-fullhd", "label": "Right" }
      ],
      "default": ""
    },

    { "type": "header", "content": "Button Styling" },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button Style",
      "options": [
        { "value": "primary", "label": "Primary" },
        { "value": "link", "label": "Link Style" }
      ],
      "default": "primary"
    },

    { "type": "color", "id": "button_text_color", "label": "Text Color", "default": "#111111" },
    { "type": "color", "id": "button_bg_color", "label": "Background Color", "default": "#f5f5f5" },
    { "type": "color", "id": "button_border_color", "label": "Border Color", "default": "#dddddd" },
    { "type": "color", "id": "button_hover_bg_color", "label": "Hover Background", "default": "#eeeeee" },
    { "type": "color", "id": "button_hover_text_color", "label": "Hover Text Color", "default": "#000000" },

    { "type": "text", "id": "button_border_radius", "label": "Border Radius", "default": "4px" },
    { "type": "text", "id": "button_padding", "label": "Padding", "default": "12px 24px" }
  ],

  "presets": [
    {
      "name": "aa-styled-button",
      "category": "AA Blocks"
    }
  ]
}
{% endschema %}
