{% liquid
  assign article = blank
  assign article_handle = block.settings.article_handle | strip

  if block.settings.article != blank and block.settings.article.url != blank
    assign article = block.settings.article
  endif

  if article == blank and collection != blank
    assign metafield_article = collection.metafields.blog.featured_article.value
    if metafield_article != blank
      if metafield_article.url != blank
        assign article = metafield_article
      else
        assign article_handle = metafield_article | strip
      endif
    endif
  endif

  if article == blank and metaobject != blank and metaobject.after_page_article_handle.value != blank
    assign article_handle = metaobject.after_page_article_handle.value | strip
  endif

  if article == blank and article_handle != blank
    assign article = articles[article_handle]
    if article == blank or article.url == blank
      assign article = blank
    endif

    if article == blank
      for b in blogs
        for candidate in b.articles
          if candidate.handle == article_handle
            assign article = candidate
            break
          endif
        endfor
        if article != blank
          break
        endif
      endfor
    endif
  endif
%}

{% if article != blank and article.url != blank %}
  <article class="b-container b-is-max-desktop" {{ block.shopify_attributes }}>
    <div class="b-block">
      {% if article.image and block.settings.show_image %}
        <figure class="b-image b-is-16by9">
          {{
            article.image
            | image_url: width: 1200
            | image_tag:
              alt: article.image.alt,
              widths: '300, 600, 900, 1200',
              loading: 'lazy'
          }}
        </figure>
      {% endif %}

      {% if block.settings.show_meta %}
        {% if block.settings.show_date or block.settings.show_author and article.author != blank %}
          <div class="b-tags b-has-addons">
            {% if block.settings.show_date %}
              <span class="b-tag b-is-light">
                {{ article.published_at | date: block.settings.date_format }}
              </span>
            {% endif %}

            {% if article.author != blank and block.settings.show_author %}
              <span class="b-tag">
                {% if block.settings.show_date %}By {% endif %}{{ article.author }}
              </span>
            {% endif %}
          </div>
        {% endif %}
      {% endif %}

      <h2 class="b-title b-is-size-3-tablet b-is-size-5-mobile">
        <a href="{{ article.url }}">{{ article.title | escape }}</a>
      </h2>

      {% if block.settings.show_content %}
        <div class="b-content">
          {{ article.content }}
        </div>
      {% endif %}

      {% if block.settings.show_button %}
        <a href="{{ article.url }}" class="b-button b-is-link b-is-rounded">
          {{ block.settings.button_text }}
        </a>
      {% endif %}
    </div>
  </article>
{% endif %}

{% schema %}
{
  "name": "Blog Post Display",
  "tag": null,
  "settings": [
    {
      "type": "article",
      "id": "article",
      "label": "Article"
    },
    {
      "type": "text",
      "id": "article_handle",
      "label": "Article Handle"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "Show featured image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_meta",
      "label": "Show meta information",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_content",
      "label": "Show full content",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "label": "Show read more button",
      "default": false
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Read more"
    },
    {
      "type": "select",
      "id": "date_format",
      "label": "Date format",
      "options": [
        {
          "value": "%B %d, %Y",
          "label": "January 1, 2023"
        },
        {
          "value": "%b %d, %Y",
          "label": "Jan 1, 2023"
        },
        {
          "value": "%Y-%m-%d",
          "label": "2023-01-01"
        },
        {
          "value": "%d/%m/%Y",
          "label": "01/01/2023"
        }
      ],
      "default": "%B %d, %Y"
    }
  ],
  "presets": [
    {
      "name": "Blog Post Display"
    }
  ]
}
{% endschema %}
