{% style %}
  .text_multiline {
    white-space: normal;
  }
{% endstyle %}
{% liquid
  if section.settings.background_color != ''
    assign section_background_color = 'b-has-background' | append: section.settings.background_color | append: section.settings.background_shade
  else
    assign section_background_color = ''
  endif
  if section_background_color != ''
    assign section_text_color = 'b-has-text' | append: section.settings.background_color | append: section.settings.background_shade | append: '-invert'
  else
    assign section_text_color = ''
  endif
  assign section_background_color_class = section_background_color | append: ' ' | append: section_text_color
%}
<div class="b-section {{ section_background_color_class }}">
  <div class="b-page-width b-container">
    {% if section.settings.section_title != blank and section.settings.section_title != '#' %}
      {% assign section_title_tag = section.settings.section_title_tag %}
      {% assign section_title_size = section.settings.section_title_size %}
      <{{ section_title_tag }} class="b-title b-is-{{- section_title_size -}}">
        {{- section.settings.section_title -}}
      </{{ section_title_tag }}>
    {% endif %}

    <div class="b-columns" id="section-{{ section.id }}">
      {%- for block in section.blocks -%}
        {% liquid
          if block.settings.background_color != ''
            assign card_background_color = 'b-has-background' | append: block.settings.background_color | append: block.settings.background_shade
          else
            assign card_background_color = ''
          endif
          if card_background_color != ''
            assign card_text_color = 'b-has-text' | append: block.settings.background_color | append: block.settings.background_shade | append: '-invert'
          else
            assign card_text_color = ''
          endif
          assign card_background_color_class = card_background_color | append: ' ' | append: card_text_color
          assign cta_label = block.settings.cta_label
          assign cta_link = block.settings.cta_link
        %}
        <div class="b-column {{ section.settings.columns_row }}">
          {%- case block.settings.card_content -%}
            {%- when 'blog_article' -%}
              {%- if block.settings.article != blank %}
                {% assign article = block.settings.article %}
                <div class="b-card {{ card_background_color_class }}" {{ block.shopify_attributes }}>
                  <div class="">
                    {%- if article.image != blank -%}
                      <div class="b-card-image">
                        {% liquid
                          assign focus = 'auto'
                          if block.settings.imagen_article_auto_focus == false
                            if block.settings.image_article_focus != ''
                              assign focus = block.settings.image_article_focus
                            else
                              assign focus = block.settings.image_article_custom_focus
                            endif
                          endif
                        %}
                        <div class="b-image b-is-16by9">
                          {% render 'twic-img', image: article.image, eager: true, focus: focus %}
                        </div>
                      </div>
                    {%- endif -%}
                  </div>
                  <div class="b-card-footer">
                    <a
                      class="b-card-footer-item b-button b-is-ghost b-is-size-6 text_multiline {{ card_text_color }}"
                      href="{{ article.url }}"
                    >
                      {% liquid
                        if cta_label != '' and cta_label != '#'
                          assign article_title = cta_label
                        else
                          assign article_title = article.title
                        endif
                      %}
                      {{ article_title }}
                    </a>
                  </div>
                </div>
              {% endif %}

            {%- when 'image_1' -%}
              <div class="b-card {{ card_background_color_class }}" {{ block.shopify_attributes }}>
                <div class="b-card-image">
                  {%- if block.settings.image_1_1 != blank -%}
                    {% liquid
                      assign focus = 'auto'
                      if block.settings.imagen_1_1_auto_focus == false
                        if block.settings.image_1_1_focus != ''
                          assign focus = block.settings.image_1_1_focus
                        else
                          assign focus = block.settings.image_1_1_custom_focus
                        endif
                      endif
                    %}
                    <div class="b-image">
                      {% render 'twic-img', image: block.settings.image_1_1, focus: focus %}
                    </div>
                  {%- endif -%}
                </div>
                <div class="b-card-footer">
                  <a
                    class="b-card-footer-item b-button b-is-ghost text_multiline b-is-size-6 {{ card_text_color }}"
                    href="{{ cta_link }}"
                  >
                    {{- cta_label -}}
                  </a>
                </div>
              </div>

            {%- when 'grid' -%}
              <div class="b-card {{ card_background_color_class }}" {{ block.shopify_attributes }}>
                <div class="">
                  <div class="b-grid b-is-gap-0.5 b-fixed-grid b-has-2-cols">
                    <div class="b-cell b-has-background-link-light">
                      {%- if block.settings.image_1_1 != blank %}
                        <figure class="b-image b-is-square">
                          {% liquid
                            assign focus = 'auto'
                            if block.settings.imagen_1_1_auto_focus == false
                              if block.settings.image_1_1_focus != ''
                                assign focus = block.settings.image_1_1_focus
                              else
                                assign focus = block.settings.image_1_1_custom_focus
                              endif
                            endif
                          %}
                          {% render 'twic-img', image: block.settings.image_1_1, width: 400, focus: focus %}
                        </figure>
                      {% endif %}
                    </div>
                    <div class="b-cell">
                      {%- if block.settings.image_1_2 != blank %}
                        {% liquid
                          assign focus_12 = 'auto'
                          if block.settings.imagen_1_2_auto_focus == false
                            if block.settings.image_1_2_focus != ''
                              assign focus_12 = block.settings.image_1_2_focus
                            else
                              assign focus_12 = block.settings.image_1_2_custom_focus
                            endif
                          endif
                        %}
                        <figure class="b-image">
                          {% render 'twic-img', image: block.settings.image_1_2, focus: focus_12 %}
                        </figure>
                      {% endif %}
                    </div>
                    <div class="b-cell">
                      {%- if block.settings.image_2_1 != blank %}
                        {% liquid
                          assign focus_21 = 'auto'
                          if block.settings.imagen_2_1_auto_focus == false
                            if block.settings.image_2_1_focus != ''
                              assign focus_21 = block.settings.image_2_1_focus
                            else
                              assign focus_21 = block.settings.image_2_1_custom_focus
                            endif
                          endif
                        %}
                        <figure class="b-image b-is-square">
                          {% render 'twic-img', image: block.settings.image_2_1, focus: focus_21, width: 400 %}
                        </figure>
                      {% endif %}
                    </div>
                    <div class="b-cell">
                      {%- if block.settings.image_2_2 != blank %}
                        {% liquid
                          assign focus_22 = 'auto'
                          if block.settings.imagen_2_2_auto_focus == false
                            if block.settings.image_2_2_focus != ''
                              assign focus_22 = block.settings.image_2_2_focus
                            else
                              assign focus_22 = block.settings.image_2_2_custom_focus
                            endif
                          endif
                        %}
                        <figure class="b-image b-is-square">
                          {% render 'twic-img', image: block.settings.image_2_2, focus: focus_22, width: 400 %}
                        </figure>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="b-card-footer">
                  <a
                    class="b-card-footer-item b-button b-is-ghost b-is-size-6 text_multiline {{ card_text_color }}"
                    href="{{ cta_link }}"
                  >
                    {{- cta_label -}}
                  </a>
                </div>
              </div>
          {%- endcase -%}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "AA Multicolumn",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "default": "#",
      "label": "Section Title"
    },
    {
      "type": "select",
      "id": "section_title_tag",
      "options": [
        {
          "value": "h1",
          "label": "Header 1"
        },
        {
          "value": "h2",
          "label": "Header 2"
        },
        {
          "value": "h3",
          "label": "Header 3"
        },
        {
          "value": "h4",
          "label": "Header 4"
        }
      ],
      "default": "h2",
      "label": "Section Header Tag"
    },
    {
      "type": "range",
      "id": "section_title_size",
      "min": 1,
      "max": 7,
      "step": 1,
      "default": 2,
      "label": "Section Header Size"
    },

    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_layout.content"
    },
    {
      "type": "select",
      "id": "columns_row",
      "label": "Columns per Row",
      "options": [
        { "label": "Auto", "value": "" },
        { "label": "Full Width", "value": "b-is-full" },
        { "label": "2 Columns", "value": "b-is-half" },
        { "label": "3 Columns", "value": "b-is-one-third" },
        { "label": "4 Columns", "value": "b-is-one-quarter" },
        { "label": "5 Columns", "value": "b-is-one-fifth" },
        { "label": "6 Columns", "value": "b-is-2" }
      ],
      "default": ""
    },

    {
      "type": "select",
      "id": "background_color",
      "label": "Background Color",
      "options": [
        { "label": "None", "value": "" },
        { "label": "Primary", "value": "-primary" },
        { "label": "Link", "value": "-link" },
        { "label": "Info", "value": "-info" },
        { "label": "Success", "value": "-success" },
        { "label": "Warning", "value": "-warning" },
        { "label": "Danger", "value": "-danger" },
        { "label": "Light", "value": "-light" },
        { "label": "Dark", "value": "-dark" }
      ]
    },
    {
      "type": "select",
      "id": "background_shade",
      "label": "Background Shade",
      "options": [
        { "label": "Default", "value": "" },
        { "label": "Light", "value": "-light" },
        { "label": "Dark", "value": "-dark" },
        { "label": "Soft", "value": "-soft" },
        { "label": "Bold", "value": "-bold" }
      ],
      "visible_if": "{{ section.settings.background_color != '' }}"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "header",
          "content": "Card Options"
        },
        {
          "type": "radio",
          "label": "Card Content",
          "id": "card_content",
          "options": [
            { "value": "blog_article", "label": "Blog Article" },
            { "value": "image_1", "label": "Single Image" },
            { "label": "grid", "value": "grid" }
          ],
          "default": "image_1"
        },

        {
          "type": "image_picker",
          "id": "image_1_1",
          "label": "Image (1,1)",
          "visible_if": "{{ block.settings.card_content == 'grid' or block.settings.card_content == 'image_1' }}"
        },
        {
          "type": "checkbox",
          "default": true,
          "id": "imagen_1_1_auto_focus",
          "label": "Image 1.1 Auto Focus",
          "visible_if": "{{ block.settings.card_content == 'grid' or block.settings.card_content == 'image_1' }}"
        },
        {
          "type": "select",
          "id": "image_1_1_focus",
          "label": "Image 1.1 Focus",
          "default": "center",
          "options": [
            { "label": "center", "value": "center" },
            { "label": "Bottom", "value": "bottom" },
            { "label": "bottom-left", "value": "bottom-left" },
            { "label": "bottom-right", "value": "bottom-right" },
            { "label": "left", "value": "left" },
            { "label": "top", "value": "top" },
            { "label": "top-left", "value": "top-left" },
            { "label": "top-right", "value": "top-right" },
            { "label": "right", "value": "right" },
            { "label": "Custom", "value": "" }
          ],
          "visible_if": "{{ block.settings.imagen_1_1_auto_focus == false }}"
        },
        {
          "type": "text",
          "id": "image_1_1_custom_focus",
          "label": "Image 1.1 Custom Focus",
          "default": "@lg center @xl bottom",
          "visible_if": "{{ block.settings.image_1_1_focus == '' }}"
        },
        {
          "type": "image_picker",
          "id": "image_1_2",
          "label": "Image (1,2)",
          "visible_if": "{{ block.settings.card_content == 'grid' }}"
        },
        {
          "type": "checkbox",
          "default": true,
          "id": "imagen_1_2_auto_focus",
          "label": "Image 1.2 Auto Focus",
          "visible_if": "{{ block.settings.card_content == 'grid' }}"
        },
        {
          "type": "select",
          "id": "image_1_2_focus",
          "label": "Image 1.2 Focus",
          "default": "center",
          "options": [
            { "label": "center", "value": "center" },
            { "label": "Bottom", "value": "bottom" },
            { "label": "bottom-left", "value": "bottom-left" },
            { "label": "bottom-right", "value": "bottom-right" },
            { "label": "left", "value": "left" },
            { "label": "top", "value": "top" },
            { "label": "top-left", "value": "top-left" },
            { "label": "top-right", "value": "top-right" },
            { "label": "right", "value": "right" },
            { "label": "Custom", "value": "" }
          ],
          "visible_if": "{{ block.settings.imagen_1_2_auto_focus == false }}"
        },
        {
          "type": "text",
          "id": "image_1_2_custom_focus",
          "label": "Image 1.2 Custom Focus",
          "default": "@lg center @xl bottom",
          "visible_if": "{{ block.settings.image_1_2_focus == '' }}"
        },
        {
          "type": "image_picker",
          "id": "image_2_1",
          "label": "Image (2,1)",
          "visible_if": "{{ block.settings.card_content == 'grid' }}"
        },
        {
          "type": "checkbox",
          "default": true,
          "id": "imagen_2_1_auto_focus",
          "label": "Image 2.1 Auto Focus",
          "visible_if": "{{ block.settings.card_content == 'grid' }}"
        },
        {
          "type": "select",
          "id": "image_2_1_focus",
          "label": "Image 2.1 Focus",
          "default": "center",
          "options": [
            { "label": "center", "value": "center" },
            { "label": "Bottom", "value": "bottom" },
            { "label": "bottom-left", "value": "bottom-left" },
            { "label": "bottom-right", "value": "bottom-right" },
            { "label": "left", "value": "left" },
            { "label": "top", "value": "top" },
            { "label": "top-left", "value": "top-left" },
            { "label": "top-right", "value": "top-right" },
            { "label": "right", "value": "right" },
            { "label": "Custom", "value": "" }
          ],
          "visible_if": "{{ block.settings.imagen_2_1_auto_focus == false }}"
        },
        {
          "type": "text",
          "id": "image_2_1_custom_focus",
          "label": "Image 2.1 Custom Focus",
          "default": "@lg center @xl bottom",
          "visible_if": "{{ block.settings.image_2_1_focus == '' }}"
        },
        {
          "type": "image_picker",
          "id": "image_2_2",
          "label": "Image (2,2)",
          "visible_if": "{{ block.settings.card_content == 'grid' }}"
        },
        {
          "type": "checkbox",
          "default": true,
          "id": "imagen_2_2_auto_focus",
          "label": "Image 2.2 Auto Focus",
          "visible_if": "{{ block.settings.card_content == 'grid' }}"
        },
        {
          "type": "select",
          "id": "image_2_2_focus",
          "label": "Image 2.2 Focus",
          "default": "center",
          "options": [
            { "label": "center", "value": "center" },
            { "label": "Bottom", "value": "bottom" },
            { "label": "bottom-left", "value": "bottom-left" },
            { "label": "bottom-right", "value": "bottom-right" },
            { "label": "left", "value": "left" },
            { "label": "top", "value": "top" },
            { "label": "top-left", "value": "top-left" },
            { "label": "top-right", "value": "top-right" },
            { "label": "right", "value": "right" },
            { "label": "Custom", "value": "" }
          ],
          "visible_if": "{{ block.settings.imagen_2_2_auto_focus == false }}"
        },
        {
          "type": "text",
          "id": "image_2_2_custom_focus",
          "label": "Image 2.2 Custom Focus",
          "default": "@md 250x250 @lg center @xl 50px50p",
          "visible_if": "{{ block.settings.image_2_2_focus == '' }}"
        },
        {
          "type": "article",
          "id": "article",
          "label": "Blog Article"
        },
        {
          "type": "checkbox",
          "default": true,
          "id": "imagen_article_auto_focus",
          "label": "Image Article Auto Focus",
          "visible_if": "{{ block.settings.card_content == 'blog_article' }}"
        },
        {
          "type": "select",
          "id": "image_article_focus",
          "label": "Image Article Focus",
          "default": "center",
          "options": [
            { "label": "center", "value": "center" },
            { "label": "Bottom", "value": "bottom" },
            { "label": "bottom-left", "value": "bottom-left" },
            { "label": "bottom-right", "value": "bottom-right" },
            { "label": "left", "value": "left" },
            { "label": "top", "value": "top" },
            { "label": "top-left", "value": "top-left" },
            { "label": "top-right", "value": "top-right" },
            { "label": "right", "value": "right" },
            { "label": "Custom", "value": "" }
          ],
          "visible_if": "{{ block.settings.imagen_article_auto_focus == false }}"
        },
        {
          "type": "text",
          "id": "image_article_custom_focus",
          "label": "Image Article Custom Focus",
          "default": "@lg center @xl bottom",
          "visible_if": "{{ block.settings.image_article_focus == '' }}"
        },
        {
          "type": "header",
          "content": "Background Color"
        },
        {
          "type": "select",
          "id": "background_color",
          "label": "Background Color",
          "options": [
            { "label": "None", "value": "" },
            { "label": "Primary", "value": "-primary" },
            { "label": "Link", "value": "-link" },
            { "label": "Info", "value": "-info" },
            { "label": "Success", "value": "-success" },
            { "label": "Warning", "value": "-warning" },
            { "label": "Danger", "value": "-danger" },
            { "label": "Light", "value": "-light" },
            { "label": "Dark", "value": "-dark" }
          ]
        },
        {
          "type": "select",
          "id": "background_shade",
          "label": "Background Shade",
          "options": [
            { "label": "Default", "value": "" },
            { "label": "Light", "value": "-light" },
            { "label": "Dark", "value": "-dark" },
            { "label": "Soft", "value": "-soft" },
            { "label": "Bold", "value": "-bold" }
          ],
          "visible_if": "{{ block.settings.background_color != '' }}"
        },

        {
          "type": "header",
          "content": "CTA Content"
        },
        {
          "type": "text",
          "id": "cta_label",
          "default": "#",
          "label": "Action Label",
          "info": "Text to display on the CTA button"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "CTA Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "AA Multicolumn",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
