<section class="b-section" id="b-card-display-section-{{ section.id }}" {{ section.shopify_attributes }}>
  <div
    id="b-card-display-container-{{ section.id }}"
    class="b-fixed-grid b-has-4-cols-desktop b-has-2-cols-tablet b-has-1-cols-mobile"
  >
    <div id="b-card-display-block-{{ section.id }}" class="b-card-display-block b-grid">
      {% for child_block in section.blocks %}
        {% assign grandchildren_count = child_block.blocks.size %}
        <div class="b-cell {% if grandchildren_count > 0 %} b-is-col-span-{{- grandchildren_count -}}{% endif %} {{ child_block.shopify_attributes }}">
          {% render child_block %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "b-card Display",
  "settings": [],
  "blocks": [
    {
      "type": "b-carousel"
    },
    {
      "type": "b-card-collection"
    },
    {
      "type": "b-card-article"
    },
    {
      "type": "b-card-products-grid"
    },
    {
      "type": "b-card-collections-grid"
    }
  ],

  "presets": [
    {
      "name": "b-card Display",
      "category": "b-Blocks"
    }
  ]
}
{% endschema %}
