<section class="b-section">
  <div class="b-container">
    <div
      class="b-carousel-wrapper"
      x-data="bCarousel({ loop: true })"
    >
      <!-- LEFT -->
      <button
        class="b-carousel-nav b-is-left"
        type="button"
        @click="prev()"
      >
        ◀
      </button>

      <!-- RIGHT -->
      <button
        class="b-carousel-nav b-is-right"
        type="button"
        @click="next()"
      >
        ▶
      </button>

      <div
        class="b-carousel"
        x-ref="track"
      >
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'article' %}
              <div
                class="b-carousel-item"
                :class="{ 'b-is-active': isActive({{ forloop.index0 }}) }"
              >
                <div class="b-card b-has-background-info-light">
                  <header class="b-card-header">
                    <p class="b-card-header-title b-is-capitalized b-title b-is-5">
                      {{ block.settings.article.title }}
                    </p>
                  </header>
                  {% if block.settings.article.image %}
                    <div class="b-card-image">
                      <figure class="b-image">
                        {{
                          block.settings.article.image
                          | image_url: height: 800, pad_color: 'ffffff'
                          | image_tag:
                            widths: '50, 100,150, 200, 250, 300, 350, 400, 450, 500, 550, 600',
                            preload: block.settings.priority
                        }}
                      </figure>
                    </div>
                  {% endif %}
                  <div class="b-card-content b-p-2">
                    <div class="b-content">
                      {{
                        block.settings.article.excerpt
                        | default: block.settings.article.content
                        | strip_html
                        | truncatewords: 20, '...'
                      }}
                    </div>
                  </div>
                  <footer class="b-card-footer">
                    <a
                      href="{{ block.settings.article.url }}"
                      class="b-card-footer-item b-button b-is-info b-is-outlined b-is-light b-is-size-5"
                    >
                      Read more
                    </a>
                  </footer>
                </div>
              </div>

            {% when 'collection' %}
              <div
                class="b-carousel-item"
                :class="{ 'b-is-active': isActive({{ forloop.index0 }}) }"
              >
                <div class="b-card b-has-background-link">
                  <header class="b-card-header">
                    <p class="b-card-header-title b-is-capitalized b-title b-is-5 b-has-text-white">
                      {{ block.settings.collection.title }}
                    </p>
                  </header>
                  {% if block.settings.collection.featured_image %}
                    <div class="b-card-image">
                      <figure class="b-image">
                        {{
                          block.settings.collection.featured_image
                          | image_url: height: 800, pad_color: 'ffffff'
                          | image_tag:
                            widths: '50, 100,150, 200, 250, 300, 350, 400, 450, 500, 550, 600',
                            preload: block.settings.priority
                        }}
                      </figure>
                    </div>
                  {% endif %}
                  <div class="b-card-content b-p-2">
                    {% if block.settings.show_description %}
                      <div class="b-content b-has-text-white b-is-small b-is-medium-desktop">
                        {{
                          block.settings.collection.description
                          | strip_html
                          | truncatewords: block.settings.truncatewords, '...'
                        }}
                      </div>
                    {% endif %}
                  </div>
                  <footer class="b-card-footer">
                    <a
                      href="{{ block.settings.cta_url | default: block.settings.collection.url }}"
                      class="b-card-footer-item b-button b-is-link b-is-dark b-is-size-5 b-is-capitalized b-has-text-white"
                    >
                      {{ block.settings.cta_text }}
                    </a>
                  </footer>
                </div>
              </div>
            {% when 'products' %}
              {% liquid
                assign card_title = ''
                assign cta_url = ''
                assign cta_text = ''

                if block.settings.collection != ''
                  assign card_title = block.settings.collection.title
                  assign cta_url = block.settings.collection.url
                endif
                if block.settings.cta_url
                  assign cta_url = block.settings.cta_url
                endif
                if block.settings.cta_text != ''
                  assign cta_text = block.settings.cta_text
                endif
                if block.settings.products_card_title != ''
                  assign card_title = block.settings.products_card_title
                endif
              %}
              <div
                class="b-carousel-item"
                :class="{ 'b-is-active': isActive({{ forloop.index0 }}) }"
              >
                <div class="b-card b-has-background-primary-25">
                  <header class="b-card-header">
                    <p class="b-card-header-title b-is-capitalized b-title b-is-5 b-has-text-white">
                      {{ card_title }}
                    </p>
                  </header>
                  <div class="b-card-content b-p-2">
                    <div class="b-content">
                      {% if block.settings.product_list %}
                        <div class="b-fixed-grid">
                          <div class="b-grid">
                            {% for product in block.settings.product_list %}
                              <div class="b-cell b-has-background-white b-has-radius-small">
                                <a href="{{ product.url }}">
                                  <figure class="b-image b-is-3by4">
                                    {{
                                      product.featured_image
                                      | image_url: height: 300, pad_color: 'ffffff'
                                      | image_tag:
                                        widths: '50, 100,150, 200, 250, 300, 350, 400, 450, 500, 550, 600',
                                        preload: block.settings.priority
                                    }}
                                  </figure>
                                  <p class="b-subtitle b-is-6 b-px-2 b-has-text-link-40 b-has-text-weight-bold b-has-text-right">
                                    {{ product.price | money }}
                                  </p>
                                </a>
                              </div>
                            {% endfor %}
                          </div>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                  <footer class="b-card-footer">
                    <a
                      href="{{ cta_url }}"
                      class="b-card-footer-item b-button b-is-primary b-is-size-5 b-is-capitalized"
                    >
                      {{ cta_text }}
                    </a>
                  </footer>
                </div>
              </div>
            {% when 'collections' %}
              {% liquid
                assign card_title = ''
                assign cta_url = ''
                assign cta_text = ''

                if block.settings.main_collection != ''
                  assign card_title = block.settings.main_collection.title
                  assign cta_url = block.settings.main_collection.url
                endif
                if block.settings.cta_url
                  assign cta_url = block.settings.cta_url
                endif
                if block.settings.cta_text != ''
                  assign cta_text = block.settings.cta_text
                endif
                if block.settings.collections_card_title != ''
                  assign card_title = block.settings.collections_card_title
                endif
              %}
              <div
                class="b-carousel-item"
                :class="{ 'b-is-active': isActive({{ forloop.index0 }}) }"
              >
                <div class="b-card b-has-background-primary-25">
                  <header class="b-card-header">
                    <p class="b-card-header-title b-is-capitalized b-title b-is-5 b-has-text-white">
                      {{ card_title }}
                    </p>
                  </header>
                  <div class="b-card-content b-p-2">
                    <div class="b-content">
                      {% if block.settings.collection_list %}
                        <div class="b-fixed-grid">
                          <div class="b-grid">
                            {% for collection in block.settings.collection_list %}
                              <div class="b-cell b-has-background-white b-has-radius-small">
                                <a href="{{ collection.url }}">
                                  <figure class="b-image b-is-3by4">
                                    {{
                                      collection.image
                                      | image_url: height: 300, pad_color: 'ffffff'
                                      | image_tag:
                                        widths: '50, 100,150, 200, 250, 300, 350, 400, 450, 500, 550, 600',
                                        preload: block.settings.priority
                                    }}
                                  </figure>
                                  <p class="b-is-6 b-px-1 b-has-text-left b-is-ghost">
                                    {{ collection.title | replace: 'Sex Toys', '' }}
                                  </p>
                                </a>
                              </div>
                            {% endfor %}
                          </div>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                  <footer class="b-card-footer">
                    <a
                      href="{{ cta_url }}"
                      class="b-card-footer-item b-button b-is-primary b-is-size-5 b-is-capitalized"
                    >
                      {{ cta_text }}
                    </a>
                  </footer>
                </div>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Bulma Collection Display",
  "settings": [
    {
      "type": "header",
      "content": "layout"
    },
    {
      "type": "collection",
      "id": "collection_id",
      "label": "Collection (optional, global)"
    }
  ],
  "blocks": [
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
          "type": "header",
          "content": "Article"
        },
        {
          "type": "article",
          "id": "article",
          "label": "Article"
        },
        {
          "type": "checkbox",
          "id": "priority",
          "label": "Priority (preload image)",
          "default": false
        }
      ]
    },
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "header",
          "content": "Collection"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "checkbox",
          "id": "priority",
          "label": "Priority (preload image)",
          "default": false
        },

        {
          "type": "checkbox",
          "id": "show_description",
          "label": "Show Description",
          "default": true
        },
        {
          "type": "number",
          "id": "truncatewords",
          "label": "Truncate words",
          "default": 20
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "CTA text",
          "default": "Shop Collection",
          "info": "Text for the CTA button"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "CTA url",
          "info": "URL for the CTA button if not using collection url"
        }
      ]
    },
    {
      "type": "products",
      "name": "Products",
      "settings": [
        {
          "type": "header",
          "content": "Products"
        },
        {
          "type": "text",
          "id": "products_card_title",
          "label": "Card Title",
          "default": "products",
          "info": "Title for the card"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection",
          "info": "Select the collection the products belongs to"
        },

        {
          "type": "product_list",
          "id": "product_list",
          "label": "Product List",
          "info": "Product list to display",
          "limit": 6
        },
        {
          "type": "checkbox",
          "id": "priority",
          "label": "Priority (preload image)",
          "default": false
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "CTA text",
          "info": "Text for the CTA button",
          "default": "Shop Collection"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "CTA url",
          "info": "URL for the CTA button if not using collection url"
        }
      ]
    },
    {
      "type": "collections",
      "name": "Collections",
      "settings": [
        {
          "type": "header",
          "content": "Collections"
        },
        {
          "type": "text",
          "id": "collections_card_title",
          "label": "Card Title",
          "default": "collections",
          "info": "Title for the card"
        },
        {
          "type": "collection",
          "id": "main_collection",
          "label": "Main Collection",
          "info": "Select the collection the products belongs to"
        },

        {
          "type": "collection_list",
          "id": "collection_list",
          "label": "Collection List",
          "info": "Collection list to display",
          "limit": 6
        },
        {
          "type": "checkbox",
          "id": "priority",
          "label": "Priority (preload image)",
          "default": false
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "CTA text",
          "info": "Text for the CTA button",
          "default": "Shop Collection"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "CTA url",
          "info": "URL for the CTA button if not using collection url"
        }
      ]
    },
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "header",
          "content": "Product"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "checkbox",
          "id": "priority",
          "label": "Priority (show first)",
          "default": false
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Bulma Collection Display",
      "category": "Custom",
      "blocks": [{ "type": "products" }, { "type": "article" }, { "type": "collection" }]
    }
  ]
}
{% endschema %}
