<section class="b-section" {{ section.shopify_attributes }}>
  {%- unless section.settings.title == blank -%}
    <div class="b-block">
      <h2 class="b-title b-is-4-mobile b-is-3-tablet b-is-2-desktop b-has-text-primary">
        {{ section.settings.title }}
      </h2>

      <a href="{{ routes.collections_url }}" class="b-button b-is-text b-has-text-primary">
        {{- 'sections.collection_list.view_all' | t -}}
      </a>
    </div>
  {%- endunless -%}

  <div
    class="b-carousel-wrapper"
    x-data="carousel({slides: '.slide-{{ section.id }}', intervalTime: 3000})"
  >
    <div
      class="b-carousel"
      @touchstart="handleTouchStart($event)"
      @touchmove="handleTouchMove($event)"
      @touchend="handleTouchEnd()"
    >
      {%- for block in section.blocks -%}
        <div
          id="Slide-{{ section.id }}-{{ forloop.index }}"
          class="b-carousel-item slide-{{ section.id }}"
          {{ block.shopify_attributes }}
        >
          {% render 'card-collection', card_collection: block.settings.collection %}
        </div>
      {%- endfor -%}
    </div>

    {% render 'c-carousel-buttons' %}
  </div>

  <div class="b-section">
    <a href="{{ routes.collections_url }}" class="b-button b-is-link b-is-dark b-is-fullwidth b-is-large">
      Check all collections
    </a>
  </div>
</section>
{% schema %}
{
  "name": "t:sections.collection-list.name",
  "max_blocks": 15,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.collection-list.settings.title.default",
      "label": "t:sections.collection-list.settings.title.label"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "category": "Collections",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
