{%- paginate collection.products by 20 -%}
  {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
  <div id="product-grid-container" class="b-container">
    <div class="facets facets-vertical-sort page-width small-hide">
      <form
        class="facets-vertical-form"
        id="FacetSortForm"
        action="{{ collection.url }}"
        x-target="product-grid-container"
        x-on:input.debounce.800ms="if($el.isConnected) $el.requestSubmit()"
      ></form>
    </div>

    <aside
      aria-labelledby="verticalTitle"
      class="facets-wrapper"
      id="main-collection-filters"
      data-id="{{ section.id }}"
    >
      {% render 'facets', results: collection, paginate: paginate %}
    </aside>

    <section class="b-section">
      <div
        class="b-container {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        id="ProductGridContainer"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        {%- if collection.products.size == 0 -%}
          <div class="b-container b-section b-has-text-centered" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient" style="display: none;"></div>
            <div class="b-block">
              <h2 class="b-title b-is-2">
                {{ 'sections.collection_template.empty' | t -}}
                <br>
                {{
                  'sections.collection_template.use_fewer_filters_html'
                  | t: link: collection.url, class: 'underlined-link link'
                }}
              </h2>
            </div>
          </div>
        {%- else -%}
          {% render 'c-base-grid', products: collection.products %}

          {%- if paginate.pages > 1 -%}
            {% render 'pagination', paginate: paginate, anchor: '' %}
          {%- endif -%}
        {%- endif -%}
      </div>
    </section>
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "Collection Product Grid",
  "class": "section",
  "presets": [
    {
      "category": "Collections",
      "name": "Collection Product Grid"
    }
  ]
}
{% endschema %}
