{{ 'a-main-collection-plt.css' | asset_url | stylesheet_tag }}

<style>
  .b-button.b-is-circle {
    border-radius: 50%;
    width: 3rem; /* Adjust as needed */
    height: 3rem; /* Must be equal to width */
    display: flex; /* To center content */
    align-items: center;
    justify-content: center;
    padding: 0rem;
    margin: 0rem;
  }
</style>

<section class="b-section">
  <div class="b-container">
    <h1 class="b-title">{{ collection.title }}</h1>
  </div>
</section>
<section class="b-section">
  <div class="b-container">
    <div class="b-columns b-is-multiline c-columns">
      <!-- FORLOOP -->
      <!-- Web Component: Cargar la colección -->
      {%- paginate collection.products by section.settings.products_per_page -%}
        {%- for product in collection.products -%}
          <div class="b-column b-card-column b-is-half-tablet b-is-one-quarter-desktop b-is-one-fifth-widescreen">
            <!-- CARD -->
            <div class="b-box b-p-2 b-align-items-stretch-tablet">
              <div class="b-columns b-is-mobile b-row-to-col-tablet">
                <div class="b-column b-is-half-mobile b-is-full-tablet b-card-image-wrapper">
                  <figure class="b-image">
                    <a href="{{ product.url }}">
                      {{
                        product.featured_media
                        | image_url: width: 300, pad_color: '000'
                        | image_tag:
                          widths: '100,150,200,250,300, 350, 400, 450, 500, 550, 600',
                          preload: false,
                          loading: 'lazy',
                          style: 'object-fit: contain;',
                          class: 'b-rounded-corners'
                      }}
                    </a>
                  </figure>
                  <div class="b-mt-3 b-level b-is-mobile">
                    {%- if product.available == false -%}
                      <span class="b-is-level-item b-tag b-has-background-gray b-is-size-6">
                        {{- 'products.product.sold_out' | t -}}
                      </span>
                    {%- else -%}
                      {% if product.compare_at_price > product.price %}
                        <span class="b-is-level-item b-tag b-has-background-danger-light b-is-size-6">
                          {{- 'products.product.on_sale' | t -}}
                        </span>
                      {% endif %}
                      {% if product.price >= 7500 -%}
                        <span class="b-is-level-item b-tag b-mr-auto b-is-size-6 b-icon-text b-has-background-info-light">
                          <span
                            ><i>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="20"
                                height="20"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-truck-icon lucide-truck"
                              >
                                <path d="M14 18V6a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v11a1 1 0 0 0 1 1h2"/><path d="M15 18H9"/><path d="M19 18h2a1 1 0 0 0 1-1v-3.65a1 1 0 0 0-.22-.624l-3.48-4.35A1 1 0 0 0 17.52 8H14"/><circle cx="17" cy="18" r="2"/><circle cx="7" cy="18" r="2"/>
                              </svg>
                            </i> </span
                          ><span> Free</span>
                        </span>
                      {%- endif -%}
                    {%- endif -%}
                  </div>
                </div>
                <!-- MOBILE -->
                <div class="b-column b-is-half-mobile b-card-content-wrapper">
                  <div class="b-block">
                    <p class="b-title b-is-6 b-mb-2 b-has-text-primary b-is-family-secondary">
                      <a href="{{ product.url }}" class="full-unstyled-link">
                        {{ product.title | escape }}
                      </a>
                    </p>
                    <p class="b-subtitle b-is-uppercase b-is-6 b-mb-2 b-has-text-black b-is-family-secondary">
                      <a href="{{ product.url }}" class="full-unstyled-link">
                        {{ product.vendor | escape }}
                      </a>
                    </p>
                    <p class="b-is-size-6">
                      {{ product.type | default: '' }}
                    </p>
                  </div>
                  <div class="b-block">
                    <p class="b-title b-is-size-4 b-has-text-primary">
                      {% render 'price', product: product, price_class: '', show_compare_at_price: true %}
                    </p>
                    {%- if product.available == false -%}
                      <button
                        disabled
                        class="b-button b-is-primary b-is-light b-is-outlined b-is-fullwidth b-is-rounded b-is-normal b-is-responsive"
                      >
                        Out of stock
                      </button>
                    {%- else -%}
                      <button class="b-button b-is-circle b-is-danger b-is-inverted b-is-pulled-right b-is-focused">
                        <span class="b-text-icon has-text-centered">
                          <i class="b-icon">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="20"
                              height="20"
                              fill="currentColor"
                              stroke-width="2"
                              class="bi bi-bag-plus"
                              viewBox="0 0 16 16"
                            >
                              <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5"/>
                              <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                            </svg></i
                        ></span>
                      </button>
                    {%- endif -%}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {%- endfor -%}
      {% endpaginate %}
      <!-- END FORLOOP -->
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection PLT",
  "settings": [],
  "presets": [
    {
      "name": "Collection PLT"
    }
  ]
}
{% endschema %}
