<div class="b-section">
  <div class="b-page-width b-container">

    {% if section.settings.section_title != blank and section.settings.section_title != "#" %}
      {% assign section_title_tag = section.settings.section_title_tag %}
      {% assign section_title_size = section.settings.section_title_size %}
      <{{- section_title_tag -}} class="b-title b-is-{{- section_title_size -}}">{{ section.settings.section_title }}</{{- section_title_tag -}}>
    {% endif %}

    <div class="b-columns" id="section-{{ section.id }}">
      {%- for block in section.blocks -%}
        <div class="b-column">

          {%- case block.settings.card_content -%}

            {%- when 'blog_article' -%}
              {%- if block.settings.article != blank %}
                {% assign article = block.settings.article %}
                <div class="b-card" {{ block.shopify_attributes }}>
                  <div class="b-card-header">
                    <p class="b-card-header-title b-title b-is-4">
                      {{ article.title }}
                    </p>
                  </div>
                  <div class="b-card-content">
                    {%- if article.image != blank -%}
                      <div class="b-block">
                        <figure class="b-image b-is-square">
                          {% render 'twic-img', image: article.image, width: 800, eager: true %}
                        </figure>
                      </div>
                    {%- endif -%}
                  </div>
                  <div class="b-card-footer">
                    <a class="b-card-footer-item" href="{{ article.url }}">
                      Continue Reading
                    </a>
                  </div>
                </div>
              {% endif %}

            {%- when 'image_1' -%}
              {%- if block.settings.image != blank %}
                <div class="b-card" {{ block.shopify_attributes }}>
                  <div class="b-card-content">
                    <figure class="b-image b-is-square">
                      {% render 'twic-img', image: block.settings.image, width: 800, eager: true %}
                    </figure>
                  </div>
                </div>
              {% endif %}

            {%- when 'grid' -%}
              <div class="b-card b-image-grid" {{ block.shopify_attributes }} style="gap: {{ block.settings.image_gap }}px; margin: {{ block.settings.image_margin }}px; padding: {{ block.settings.image_padding }}px;">
                {%- if block.settings.image_1_1 != blank %}
                  <figure class="b-image">
                    {% render 'twic-img', image: block.settings.image_1_1, width: 400 %}
                  </figure>
                {% endif %}
                {%- if block.settings.image_1_2 != blank %}
                  <figure class="b-image">
                    {% render 'twic-img', image: block.settings.image_1_2, width: 400 %}
                  </figure>
                {% endif %}
                {%- if block.settings.image_2_1 != blank %}
                  <figure class="b-image">
                    {% render 'twic-img', image: block.settings.image_2_1, width: 400 %}
                  </figure>
                {% endif %}
                {%- if block.settings.image_2_2 != blank %}
                  <figure class="b-image">
                    {% render 'twic-img', image: block.settings.image_2_2, width: 400 %}
                  </figure>
                {% endif %}
              </div>

          {%- endcase -%}

        </div>
      {%  endfor %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Multicolumn-2x2",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "default": "#",
      "label": "Section Title"
    },
    {
      "type": "select",
      "id": "section_title_tag",
      "options": [
        {
          "value": "h1",
          "label": "Header 1"
        },
        {
          "value": "h2",
          "label": "Header 2"
        },
        {
          "value": "h3",
          "label": "Header 3"
        },
        {
          "value": "h4",
          "label": "Header 4"
        }

      ],
      "default": "h2",
      "label": "Section Header Tag"
    },
    {

        "type": "range",
        "id": "section_title_size",
        "min": 1,
        "max": 7,
        "step": 1,
        "default": 2,
        "label": "Section Header Size"
    },

    {
      "type": "header",
      "content": "CTA Content"
    },
    {
      "type": "text",
      "id": "cta_label",
      "default": "#",
      "label": "Action Label",
      "info": "Text to display on the CTA button"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA Link"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_layout.content"
    },

  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [

        {
            "type": "header",
            "content": "Card Options"
        },
        {
            "type": "radio",
            "label": "Card Content",
            "id": "card_content",
            "options":[
                {"value":"blog_article",
                    "label": "Blog Article"
                },
                {"value":"image_1",
                    "label": "Single Image"
                },
                {"label": "grid",
                "value": "grid"}
            ],
            "default": "image_1"
        },

        {
          "type": "image_picker",
          "id": "image_1_1",
          "label": "Image (1,1)"
        },
        {
          "type": "image_picker",
          "id": "image_1_2",
          "label": "Image (1,2)"
        },
        {
          "type": "image_picker",
          "id": "image_2_1",
          "label": "Image (2,1)"
        },
        {
          "type": "image_picker",
          "id": "image_2_2",
          "label": "Image (2,2)"
        },
        {
          "type": "article",
          "id": "article",
          "label": "Blog Article",
        },
        {
          "type": "header",
          "content": "Image Grid (Shopify)"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image 2"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image 3"
        },
        {
          "type": "image_picker",
          "id": "image_4",
          "label": "Image 4"
        }
      ],
      }
  ],"presets": [
    {
      "name": "Multicolumn-2x2",
      "category": "Layout",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
